<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>poc.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>poc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdlistController</display-name>
    <servlet-name>AdlistController</servlet-name>
    <servlet-class>poc.controller.AdlistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdlistController</servlet-name>
    <url-pattern>/AdlistController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdListServlet</display-name>
    <servlet-name>AdListServlet</servlet-name>
    <servlet-class>poc.controller.AdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdListServlet</servlet-name>
    <url-pattern>/AdListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>poc.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>poc.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>poc.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdsController</display-name>
    <servlet-name>AdsController</servlet-name>
    <servlet-class>poc.controller.AdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsController</servlet-name>
    <url-pattern>/AdsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>poc.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageController</display-name>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>poc.controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>poc.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalServlet</display-name>
    <servlet-name>FinalServlet</servlet-name>
    <servlet-class>poc.controller.FinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalServlet</servlet-name>
    <url-pattern>/FinalServlet</url-pattern>
  </servlet-mapping>
</web-app>